<%- include("Header") -%>
    <h3> Enter the roll number of the student to be removed </h3>
    <form class="" action="/deleterecord" method="post">
      <input type="text" name="roll" value="" placeholder="enter roll number">
      <button type="submit" name="button">Delete</button>
    </form>

  <a href="/home">Go To Homepage</a>

<%- include("Footer") -%>
