<%- include("Header") -%>


  <div class="entermarks">
    <form class="em" action="/entry" method="post">
      <input type="text" name="roll" value="" placeholder = "enter roll number">
      <br>
      <br>
      <input type="text" name="apm" value="" placeholder = "enter AP marks">
      <br>
      <br>
      <input type="text" name="coam" value="" placeholder = "enter COA marks">
      <br>
      <br>
      <input type="text" name="idbmsm" value="" placeholder = "enter IDBMS marks">
      <br>
      <br>
      <input type="text" name="otam" value="" placeholder = "enter OTA marks">
      <br>
      <br>
      <input type="text" name="mm" value="" placeholder = "enter M3 marks">
      <br>
      <br>
      <button type="submit" name="button" class="btn btn-danger btn-lg" >submit</button>
    </form>
  </div>



<%- include("Footer") -%>
