<%- include("Header") -%>
    <h1> Invalid Request recieved ... </h1>


<h4>Check the following things </h4>

<ul>
  <li>The text field is not empty</li>
  <li>The record you wish to delete/display might not exist in the database</li>
  <li>Multiple entry of a student marks is not allowed</li>
</ul>

  <a href="/home">Go To Homepage</a>


<%- include("Footer") -%>
