<%- include("Header") -%>


    <h1 class="welcome">Welcome To Student Management System</h1>
  <a href="/entermarks" class="btn btn-dark btn-lg opt">Enter Marks of a Student</a>
  <br>
  <br>
  <br>
  <a href="/deleterecord" class="btn btn-dark btn-lg opt"> Delete a Student record</a>
  <br>
  <br>
  <br>
  <a href="/showrecord"  class="btn btn-dark btn-lg opt"> Show Record of a Student </a>
  <br>
  <br>
  <br>
  <a href="/showall"  class="btn btn-dark btn-lg opt"> Show all Student Records </a>


<%- include("Footer") -%>
