<%- include("Header") -%>

<h3 class="login">Login</h3>
<div class="loginform">
  <form class="" action="/" method="post" >
    <input type="text" name="user" value="" placeholder="Name">
    <br>
    <br>
    <input type="password" name="password" value="" placeholder="passkey">
    <br>
    <br>
    <button type="submit" name="button" class="btn btn-primary">Login</button>
  </form>

</div>




<%- include("Footer") -%>
