<%- include("Header") -%>
<br>
<br>
    <h3> Enter the roll number of the student to show </h3>
    <form class="" action="/showrecord" method="post">
      <br>
      <input type="text" name="roll" value="" placeholder="enter roll number">
      <button type="submit" name="button">show</button>
    </form>

  <a href="/home">Go To Homepage</a>


<%- include("Footer") -%>
